<!DOCTYPE html>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
  <% include ../../include/head.ejs %>
  <body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Main -->
      <div id="main">
        <div class="inner">
          <!-- Header -->
          <% include ../../include/header.ejs %>

          <!-- Content -->
          <section>
            <header class="main">
              <h1>Professor</h1>
            </header>
            <h2>Sunyong Yoo (Ph. D)</h2>
            <div class="row">
            
              <div class="col-3 col-12-small">
                <img src="/images/professor.jpg" height="200px">
              </div>
              <div class="col-8 col-12-small">
                <h3>Experiences</h3>
            <ul>
              <li>Associate Professor,  2019 – Present<br>School of Electronics and Computer Engineering, Chonnam National University</li>
              <li>Senior Researcher, 2018 - 2019<br>BigData Steering Department, National Health Insurance Service</li>
              <li>Researcher, 2011 - 2012<br>Electronic & Information Research Information Center, KAIST</li>
            </ul>
              </div>
            </div>
            

        <h3>Research Activities</h3>
        <ul>
          <li>ACM International Workshop on Data and Text Mining in Biomedical Informatics (DTMBIO), Program Chair</li>
          <li>Journal of Information and Communication Convergence Engineering, Director</li>
          <li>Korean Intellectual Property Office (KIPO), Consultant for patent examination</li>
        </ul>

        <h3>Education</h3>
        <ul>
          <li>Ph.D in Bio and Brain Engineering, KAIST, Daejeon, Korea</li>
          <li>B.S in telecommunications and , Korea Aerospace University</li>
        </ul>

        <h3>Contact</h3>
        <ul><li>
          <a href="mailto:syyoo@jnu.ac.kr">syyoo@jnu.ac.kr</a>
        </li></ul>
        </div>
      </div>

      <!-- Sidebar -->
      <% include ../../include/sidebar.ejs %>

    <!-- Scripts -->
    <% include ../../include/script.ejs %>
  </body>

  <script>
    document.getElementById("sidebar-people").className += " active";
  </script>
</html>
