<!-- Sidebar -->
<div id="sidebar" >
    <div class="inner" >
      <!-- Menu -->
      <nav id="menu" >
        <header class="major">
          <h2>Menu</h2>
        </header>
        <ul>
          <li><a href="/">Home</a></li>
          <li style="display: inline-block; width: 100%; height: 50px;">
            <a href="/People" style="font-size: 14px;  display: inline-block; width: 20%;">People</a>
            <span class="opener" id = "sidebar-people"style="display: none;"></span>
            <ul>
              <li><a href="/professor">Professor</a></li>
              <li><a href="/members">Members</a></li>
            </ul>
          </li>
          <li>
            <a href="/field" style="font-size: 14px;  display: inline-block; width: 20%;">Research</a>
            <span class="opener" id = "sidebar-research" style="display: none;"></span>
            <ul>
              <li><a href="/method">Methods</a></li>
              <li><a href="/project">Projects</a></li>
            </ul>
          </li>
          <li><a href="/lecture">Lecture</a></li>
          <li><a href="/publication">Publications</a></li>
          <li><a href="/patent">Patents</a></li>
        </ul>
      </nav>

      <!-- Contact -->
      <section>
        <header class="major">
          <h2>Contact</h2>
        </header>
        <ul class="contact">
          <li class="icon solid fa-envelope"><a href="mailto:syyoo@jnu.ac.kr">syyoo@jnu.ac.kr</a></li>
          <li class="icon solid fa-phone">062-530-1761</li>
          <li class="icon solid fa-home">
            Address. 77, Yongbong-ro, Buk-gu, Gwangju, 61186, Korea
Detailed Address. College of Engineering 6, 713
          </li>
        </ul>
      </section>

      <!-- Footer -->
      
      <% include ./footer.ejs %>
    </div>
  </div>
</div>