<!DOCTYPE html>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
  <!-- head -->
  <% include ../include/head.ejs %>

  <body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Main -->
      <div id="main">
        <div class="inner">
          <!-- Header -->
          <% include ../include/header.ejs %>

          <!-- Banner -->
          <section id="banner">
            <div class="content">
              <header>
                <h2>
                  Welcome to Intelligent Information System Lab. (IISL)
                </h2>
              </header>

              
              <p style="font-size: 16px;">
                Bio and medical informatics are an emerging research fields that are a interdisciplinary study focusing on massive and complex information on biology (molecules, tissues, and cells) and medical (prescription, symptom, and health examination) knowledge
              </p>
              <ul class="actions">
                <li><a href="/introduce" class="button big">Learn More</a></li>
              </ul>
            </div>
            <span class="image object">
              <img src="images/jnu.jpg" alt="" />
            </span>
          </section>

          <!-- Section -->
          <section>
            <header class="major">
              <h2>Topics</h2>
            </header>
            <div class="features">
              <article>
                <span class="icon solid fas fa-brain"></span>
                <div class="content">
                  <h2>Bioinformatics</h2>
                  <p>
                    Bioinformatics is an interdisciplinary field that develops methods and software tools for understanding biological data, in particular when the data sets are large and complex.
                  </p>
                </div>
              </article>
              <article>
                <span class="icon solid fas fa-database"></span>
                <div class="content">
                  <h2>Medical informatics</h2>
                  <p>
                    Health informatics is information engineering applied to the field of health care, essentially the management and use of patient health care information.
                  </p>
                </div>
              </article>
            </div>
          </section>

          
        </div>
      </div>

      <!-- Sidebar -->
      <% include ../include/sidebar.ejs %>
      </div>
    </div>

    <!-- Script -->
    <% include ../include/script.ejs %>
  </body>
</html>
