<!DOCTYPE html>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
  <% include ../include/head.ejs %>
  
  <body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Main -->
      <div id="main">
        <div class="inner">
          <!-- Header -->
          <% include ../include/header.ejs %>

          <!-- Content -->
          <section>

            <h1>Welcome to Intelligent Information System Lab. (IISL)</h1>
           
            <div class="row" id="field">
                <ul > 
                    <li >Bio and medical informatics are an emerging research fields that are a interdisciplinary study focusing on massive and complex information on biology (molecules, tissues, and cells) and medical (prescription, symptom, and health examination) knowledge</li>
                    <br>
                    <li>Our research interest covers developing various computational tools for solving biological and medical problems. The research ranges from construction of artificial intelligence-based model to solve various problems in biological and medical data analysis including molecular data, EMR data, public health data and Korean medicine knowledge. </li>
                    <br>
                    <li>The aims of the research are 1) developing AI-based models for personalized medicine that help healthcare of patients by utilizing various types of patient’s information, including genetic, phenotypic and environmental factors, and 2) identifying molecular signatures for disease diagnosis and treatment.</li>
                    <br>
                    <li>The aim of personalized medicine is not only to develop patient-specific drugs based on the differences among individuals, but also to personalize treatment in order to account for patient differences in disease development and drug response.</li>
                </ul>
            </div>
          </section>
        </div>
      </div>
      <style>
        #field ul li {
            font-size: 18px;
        }
    </style>
     
      
      <!-- Sidebar -->
      <% include ../include/sidebar.ejs %>

    <!-- Scripts -->
    <% include ../include/script.ejs %>
  </body>
</html>
