<!DOCTYPE html>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
  <% include ../include/head.ejs %>
  <body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Main -->
      <div id="main">
        <div class="inner">
          <!-- Header -->
          <% include ../include/header.ejs %>

          <!-- Content -->
          <section>
            <header class="main">
              <h1>Lectures</h1>
            </header>

            <h2>Artificial Intelligence</h2>
                <ul>
                    <li>The main purpose of this course is to provide the most fundamental knowledge about AI to the students so that they can understand what the AI is. The course contains following topics: search, planning, decision-making and machine learning. Also, we will try to make a intelligent system. Each student should survey an interesting topic and try to make it smarter using AI techniques.
                    </li>
                </ul>

            <h2>Machine Learning</h2>
                <ul>
                    <li>TThis course provides a broad introduction and fundamental knowledge about machine learning. Topics mainly categorized into the following two parts: supervised and unsupervised learning. To understand supervised learning, we will learn linear regression, logistic regression, decision tree and neural networks. For unsupervised learning, we will learn clustering, dimensionality reduction, kernel methods). The course will also perform practical machine learning projects.
                    </li>
                </ul>

            <h2>Big Data System</h2>
                <ul>
                    <li>This course provides fundamental knowledge on Big Data handling. For this, we will learn Hadoop Ecosystem tools such as HDFS, MapReduce, Hive, Spark and Sqoop. Also, we will make a hadoop-based system to support analysis of big data.
                    </li>
                </ul>

            <h2>Natural Language Processing</h2>
                <ul>
                    <li>This course provides a fundamental theories of natural language processing. The student will understand the the different levels of morphology, part-of-speech tagging, syntax, semantics, discourse and dialogue. Machine translation and other applications will also be introduced.
                    </li>
                </ul>

            <h2>Advanced Big Data Analysis</h2>
                <ul>
                    <li>This course provides a basic introduction to big data and corresponding quantitative research methods. Strength and limitations of big data research are discussed in depth using real-world examples. To provide hands-on experience, students will handle and analyze large, complex data structures, such as public bigdata and social data.
                    </li>
                </ul>
          </section>
        </div>
      </div>
      
      <!-- Sidebar -->
      <% include ../include/sidebar.ejs %>

    <!-- Scripts -->
    <% include ../include/script.ejs %>
  </body>
</html>
