<!DOCTYPE html>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
  <% include ../include/head.ejs %>
  <body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Main -->
      <div id="main">
        <div class="inner">
          <!-- Header -->
          <% include ../include/header.ejs %>

          <!-- Content -->
          <section>
            <header class="main">
              <h1>News</h1>
              <h2>
                우충완 교수 연구실, Nature Protocols 논문 게재
              </h2>
            </header>
            <span class="image fit"><img src="images/jnu.jpg" alt="" /></span>
            <div>우충완 교수 연구실(Cocoan lab) 팀은 최근 3월 18일 국제 저명학술지인 Nature Protocols에 'Toward a unified framework for interpreting machine-learning models in neuroimaging'이라는 제목의 연구논문을 게재했다.

                뇌이미징 분야에서 인공지능 모델의 설명 가능성을 평가할 수 있는 시스템 파이프라인을 구축하고 연구자들이 쉽게 따라할 수 있도록 구체적인 분석 프로토콜을 개발했다는 점이 특징이다.
              
                이 논문엔 Lada Kohoutová 학생이 제 1저자로, 이성우 학생이 공동저자로, 그리고 우충완 교수가 교신저자로 참여했다.
                 
                논문에 대한 개괄적 내용은 우리 대학 뉴스(링크) 혹은 제 1저자 Lada가 직접 설명하는 영상(링크)에서, 자세한 내용은 학술지(링크)에서 확인할 수 있다.
            </div>
                
            
          </section>
        </div>
      </div>
      
      <!-- Sidebar -->
      <% include ../include/sidebar.ejs %>

    <!-- Scripts -->
    <% include ../include/script.ejs %>
  </body>
</html>
