<!DOCTYPE html>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
  <% include ../include/head.ejs %>
  <body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Main -->
      <div id="main">
        <div class="inner">
          <!-- Header -->
          <% include ../include/header.ejs %>

          <!-- Content -->
          <section>
            <header class="main">
              <h1>Patents</h1>
            </header>

            <h2>Korea</h2>
                <ul> 
                    <li>약물 간의 상호 작용 예측 방법(Method of Predicting Interaction Between Drugs), 이도헌, 유선용, 10-2017-0091627 (등록), 유전자동의보감사업
                    </li>
                    <li>천연물 효능 분석을 위한 네트워크 분석방법(A Method for Predicting Natural Product Drugs Based  On Network Analysis), 이도헌, 유선용, 10-2015-0094351 (등록), 유전자동의보감사업
                    </li>
                    <li>전자의무기록의 정보 이론을 이용한 익명화 장치 및 방법(Anonymizing Device and Method using Information  theory approach of Electronic Medical Records), 이도헌, 유선용, 10-2013-0131737 (등록), 유전자동의보감사업
                    </li>
                 </ul>

            <h2>International</h2>
              <ul> 
                  <li>분자 네트워크, 화학적 특성 및 민족약학적 증거에 기반한 통합 분석을 이용한 파이토케미컬의 건강효과 예측 방법 및 이를 위한 시스템, 이도헌, 유선용, PCT/KR2019/008244 (PCT출원), 유전자동의보감사업
                  </li>
                  <li>표현형 중심의 네트워크 분석을 이용한 천연 화합물의 약리 효과 예측 방법 및 이를 위한 시스템, 이도헌, 유선용, PCT/KR2019/008242 (PCT출원), 유전자동의보감사업
                  </li>
               </ul>
          </section>
        </div>
      </div>
      
      <!-- Sidebar -->
      <% include ../include/sidebar.ejs %>

    <!-- Scripts -->
    <% include ../include/script.ejs %>
  </body>
</html>
