<!DOCTYPE html>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
  <% include ../include/head.ejs %>
  <body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Main -->
      <div id="main">
        <div class="inner">
          <!-- Header -->
          <% include ../include/header.ejs %>

          <!-- Content -->
          <section>
            <header class="main">
              <h1>Publications</h1>
            </header>

            <h2>Ongoing Papers</h2>
            <ul>
              <li>A Deep Learning-Based Approach for Identifying Medicinal Use of Phytochemicals</li>
            </ul>

            <h2>Peer Reviewed Journals (SCI)</h2>
            <ul>
              <li>Yoo, S., Kim, K., Nam, H., & Lee, D. (2018). Discovering health benefits of phytochemicals with integrated analysis of the molecular network, chemical properties and ethnopharmacological evidence. Nutrients, 10(8), 1042.</li>
              <li>Yoo, S., Nam, H., & Lee, D. (2018). Phenotype-oriented network analysis for discovering pharmacological effects of natural compounds. Scientific reports, 8(1), 1-9.</li>
              <li>Yoo, S., Ha, S., Shin, M., Noh, K., Nam, H., & Lee, D. (2018). A Data-Driven Approach for Identifying Medicinal Combinations of Natural Products. IEEE Access, 6, 58106-58118.</li>
              <li>Yoo, S., Noh, K., Shin, M., Park, J., Lee, K. H., Nam, H., & Lee, D. (2018). In silico profiling of systemic effects of drugs to predict unexpected interactions. Scientific reports, 8(1), 1-15.</li>
              <li>Noh, K., Yoo, S., & Lee, D. (2018). A systematic approach to identify therapeutic effects of natural products based on human metabolite information. BMC bioinformatics, 19(8), 205.</li>
              <li>Yoo, S., Shin, M., & Lee, D. (2012). An approach to reducing information loss and achieving diversity of sensitive attributes in k-anonymity methods. Interactive journal of medical research, 1(2), e14.</li>
              <li>Keum, J., Yoo, S., Lee, D., & Nam, H. (2016). Prediction of compound-target interactions of natural products using large-scale drug and protein information. BMC bioinformatics, 17(6), 219.</li>
            </ul>

            <h2>Conferences</h2>
            <div class="row" >
              <ul>
                <li>Shin, M., Yoo, S., Lee, K. H., & Lee, D. (2012, November). Electronic Medical Records privacy preservation through k-anonymity clustering method. In The 6th International Conference on Soft Computing and Intelligent Systems, and The 13th International Symposium on Advanced Intelligence Systems (pp. 1119-1124). IEEE.</li>
                <li>Ha, S., Yoo, S., Shin, M., Kwak, J. S., Kwon, O., Choi, M. C., ... & Lee, D. (2014, November). Integrative Database for Exploring Compound Combinations of Natural Products for Medical Effects. In Proceedings of the ACM 8th International Workshop on Data and Text Mining in Bioinformatics (pp. 41-41). </li>
              </ul>
          </div>
          </section>
        </div>
      </div>
      
      <!-- Sidebar -->
      <% include ../include/sidebar.ejs %>

    <!-- Scripts -->
    <% include ../include/script.ejs %>
  </body>
</html>
